<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HireCommit</title>
</head>

<body>
    <table style="background:#1d2a44; border:0; width:100%; border-spacing:0; padding:5% 5% 0; font-family:'Arial';">
        <tr>
            <td style="width:100%; margin:40px auto; border:0;">
                <table style="border:0; width:100%; border-spacing:0;">
                    <tr>
                        <td style="padding:0 0 25px 0;"><img
                                src="https://hirecommit-api.herokuapp.com/images/email-logo.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td
                            style="background:#fff; border-radius:4px; border:0; border-top:7px solid #bf7a68; padding:30px;">
                            <table style="width:100%; margin:0; border:0; border-spacing:0;">
                                <tr>
                                    <td style=" padding:0 0 20px;font-size:14px; color:#666; line-height:24px;">Hi
                                        <%= name %></td>
                                </tr>
                                <tr>
                                    <td style=" padding:0 0 20px;font-size:14px; color:#666; line-height:24px;">
                                        <%= upper_content %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" padding:0 0 30px; font-size:14px; color:#666; line-height:24px;">
                                        <%- middel_content %></td>
                                </tr>
                                <tr>
                                    <td style=" padding:0 0 30px; font-size:14px; color:#666; line-height:24px;">
                                        <%= lower_content %></td>
                                </tr>
                                <tr>
                                    <td style="padding:0; border:0;">
                                        <small style="display:block; font-size:14px; color:#666;">Best,</small>
                                        <strong style="color:#1d2a44; font-size:14px;">HireCommit Team</strong>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="margin:0; padding:20px 15px 20px 30px; border:0; border-spacing:0;">
                <table style="width:100%; border:0; border-spacing:0;">
                    <tr>
                        <td style="font-size:14px; color:#cacaca; line-height:26px;">© Copyright <a href=""
                                style="text-decoration:underline; color:#bf7a68;">HireCommit</a> - 2019 | All Rights
                            Reserved.</td>
                        <td style="text-align:right;">
                            <a href="https://www.facebook.com/HireCommit/"
                                style="margin:0 0 0 10px; display:inline-block; vertical-align:top;"><img
                                    style="width:26px; height:26px;"
                                    src="https://hirecommit-api.herokuapp.com/images/facebook.svg" alt="" /></a>
                            <a href="https://twitter.com/hirecommit"
                                style="margin:0 0 0 10px; display:inline-block; vertical-align:top;"><img
                                    style="width:26px; height:26px;"
                                    src="https://hirecommit-api.herokuapp.com/images/twitter.svg" alt="" /></a>
                            <a href="https://www.linkedin.com/company/hirecommit/?viewAsMember=true"
                                style="margin:0 0 0 10px; display:inline-block; vertical-align:top;"><img
                                    style="width:26px; height:26px;"
                                    src="https://hirecommit-api.herokuapp.com/images/linkedin.svg" alt="" /></a>
                            <a href="" style="margin:0 0 0 10px; display:inline-block; vertical-align:top;"><img
                                    style="width:26px; height:26px;"
                                    src="https://hirecommit-api.herokuapp.com/images/youtube.svg" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
